<div class="modal-confirm-overlay" id="delete-modal" style="display: none;">
  <div class="modal-confirm">
    <p class="modal-text">Вы действительно хотите удалить книгу?</p>
    <div class="modal-buttons">
      <button id="confirm-delete" class="btn-confirm">Да</button>
      <button id="cancel-delete" class="btn-cancel">Нет</button>
    </div>
  </div>
</div>