<div id="confirmModal" class="confirm-modal hidden">
  <div class="confirm-modal-content">
    <p class="confirm-text">Вы уверены, что хотите отменить заказ?</p>
    <div class="confirm-buttons">
      <button id="confirmYes" class="btn confirm-yes">Да</button>
      <button id="confirmNo" class="btn confirm-no">Нет</button>
    </div>
  </div>
</div>