<div class="confirm-modal hidden" id="status-modal">
  <div class="confirm-modal-content">
    <p class="confirm-text">Вы уверены, что хотите изменить статус заказа?</p>
    <div class="confirm-buttons">
      <button id="confirm-status-btn" class="btn confirm-yes">Да</button>
      <button id="cancel-status-btn" class="btn confirm-no">Нет</button>
    </div>
  </div>
</div>