<footer>
  <div class="footer-element">
    <div class="footer-content">
      <div class="footer-nav">
        <ul class="footer-nav-list">
          <a href="contact.html">
            <li class="footer-nav-item">Контакты</li>
          </a>
          <a href="about.html">
            <li class="footer-nav-item">О нас</li>
          </a>
          <a href="delivery.html">
            <li class="footer-nav-item">Доставка</li>
          </a>
        </ul>
      </div>
      <div class="footer-social">
        <a href="#"><img src="img/instagram.svg" alt=""></a>
        <a href="#"><img src="img/telegram.svg" alt=""></a>
      </div>
    </div>
    <div class="footer-booxa">
      <p>© 2025 Booxa</p>
    </div>
  </div>
</footer>