<header>
  <div class="nav">
    <div class="nav__items">
      <div class="nav__logo">
        <a href="/"><img src="/img/logo.png" alt=""></a>
      </div>
      <div class="nav__menu">
        <ul class="menu__items">
          <a href="/contact">
            <li class="item">
              Контакты
            </li>
          </a>
          <a href="/about">
            <li class="item">
              О нас
            </li>
          </a>
          <a href="/delivery">
            <li class="item">
              Доставка
            </li>
          </a>
        </ul>
      </div>
      <div class="nav__button">
        <ul class="menu__buttons">
          <li class="buttons__item">
            <a href="/basket"><img src="/img/card.svg" alt=""></a>
          </li>
          <li class="buttons__item">
            <button onclick="togglePanel()">
              <img src="/img/profile.svg" alt="">
            </button>
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>
<div class="slide-panel-header" id="slide-panel">
  <a href="/login" class="slide-panel-link">
    <p>Войти</p>
  </a>
  <a href="/register" class="slide-panel-link">
    <p>Регистрация</p>
  </a>
</div>