<div id="order-modal" class="modal hidden">
  <div class="modal-content">
    <span id="close-modal" class="close">&times;</span>
    <h3>Список книг</h3>
    <ul id="order-books-list" class="book-list"></ul>
  </div>
</div>