<!DOCTYPE html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/reset.css">
  <link rel="stylesheet" href="/css/main.css">
  <script type="text/javascript" defer src="/js/main.js"></script>
  <script type="text/javascript" defer src="/js/change_data_profile.js"></script>
  <script type="text/javascript" defer src="/js/add_item_and_change_count_basket.js"></script>
  <script type="text/javascript" defer src="/js/delete_item_in_basket.js"></script>
  <script type="module" defer src="/js/add_order.js"></script>
  <title>
    Booxa - <%= locals.title %>
  </title>
</head>

<body>
  <%- include('../partials/header.ejs'); %>
    <%- body %>
      <%- include('../partials/footer.ejs'); %>
      <div id="toast-backdrop" class="toast-backdrop hidden">
        <div id="toast" class="toast">
          <span id="toast-message"></span>
        </div>
      </div>
</body>

</html>