<!DOCTYPE html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/reset.css">
  <link rel="stylesheet" href="/css/main.css">
  <script type="text/javascript" defer src="/js/main.js"></script>
  <script type="text/javascript" defer src="/js/change_data_profile.js"></script>
  <script type="module" defer src="/js/add_item_and_change_count_basket.js"></script>
  <script type="module" defer src="/js/delete_item_in_basket.js"></script>
  <script type="module" defer src="/js/add_order.js"></script>
  <script type="module" defer src="/js/orderModal.js"></script>
  <script type="module" defer src="/js/delete_order.js"></script>
  <script type="module" defer src="/js/preview_photo_book.js"></script>
  <script type="module" defer src="/js/update_book.js"></script>
  <script type="module" defer src="/js/delete_book.js"></script>
  <script type="module" defer src="/js/new_book.js"></script>
  <title>
    Booxa - <%= locals.title %>
  </title>
</head>

<body>
  <%- include('../partials/header.ejs'); %>
    <%- body %>
      <%- include('../partials/footer.ejs'); %>
        <div id="toast-backdrop" class="toast-backdrop hidden">
          <div id="toast" class="toast">
            <span id="toast-message"></span>
          </div>
        </div>
        <div id="order-modal" class="modal hidden">
          <div class="modal-content">
            <span id="close-modal" class="close">&times;</span>
            <h3>Список книг</h3>
            <ul id="order-books-list" class="book-list"></ul>
          </div>
        </div>
        <div id="confirmModal" class="confirm-modal hidden">
          <div class="confirm-modal-content">
            <p class="confirm-text">Вы уверены, что хотите отменить заказ?</p>
            <div class="confirm-buttons">
              <button id="confirmYes" class="btn confirm-yes">Да</button>
              <button id="confirmNo" class="btn confirm-no">Нет</button>
            </div>
          </div>
        </div>
        <div class="modal-confirm-overlay" id="delete-modal" style="display: none;">
          <div class="modal-confirm">
            <p class="modal-text">Вы действительно хотите удалить книгу?</p>
            <div class="modal-buttons">
              <button id="confirm-delete" class="btn-confirm">Да</button>
              <button id="cancel-delete" class="btn-cancel">Нет</button>
            </div>
          </div>
        </div>
</body>

</html>