<main>
  <div class="container">
    <section class="section-about">
      <div class="about-title">
        <p class="text-about-title">О нас</p>
      </div>
      <div class="about-content">
        <p class="about-content-text">Booxa — это современный электронный каталог книг, созданный для тех, кто ценит удобство, широкий выбор и любовь к чтению. Мы не имеем физического магазина — все заказы оформляются онлайн и доставляются прямо к вам. 
Наша цель — сделать поиск и приобретение книг максимально простым и комфортным. На платформе вы найдёте художественную, научную, учебную, профессиональную и редкую литературу. Мы постоянно обновляем коллекцию, чтобы вы могли читать то, что действительно интересно.
          
          - Почему выбирают нас:
          - Удобный и понятный каталог
          - Быстрый поиск по жанрам, авторам, издательствам, годам выпуска книг
          - Актуальные описания
          - Заказ с доставкой на указанный адрес
          
Чтение — это путешествие без границ. А мы заботимся, чтобы ваш путь начинался легко.
Добро пожаловать в Booxa — электронный каталог книг для вашего вдохновения.</p>
      </div>
    </section>
  </div>
</main>