<main>
  <section class="section-basket">
    <div class="container">
      <div class="basket-title">
        <p class="text-basket-title">Корзина</p>
      </div>
      <div class="basket-content">
        <div class="basket-list">
          <div class="basket-item">
            <p class="number-item">1</p>
            <div class="basket-img">
              <img src="" alt="">
            </div>
            <div class="basket-item-content">
              <div class="block-basket-content">
                <p class="text-basket-content">название</p>
                <p class="text-basket-content">жанр</p>
                <p class="text-basket-content">автор</p>
              </div>
              <div class="basket-content-button-price">
                <p class="text-basket-price">100 BYN</p>
                <button type="button" class="button-basket-delete"><img src="img/delete.svg" alt=""></button>
              </div>
            </div>
          </div>
          <div class="basket-item">
            <p class="number-item">2</p>
            <div class="basket-img">
              <img src="" alt="">
            </div>
            <div class="basket-item-content">
              <div class="block-basket-content">
                <p class="text-basket-content">название</p>
                <p class="text-basket-content">жанр</p>
                <p class="text-basket-content">автор</p>
              </div>
              <div class="basket-content-button-price">
                <p class="text-basket-price">100 BYN</p>
                <button type="button" class="button-basket-delete"><img src="img/delete.svg" alt=""></button>
              </div>
            </div>
          </div>
          <div class="basket-item">
            <p class="number-item">3</p>
            <div class="basket-img">
              <img src="" alt="">
            </div>
            <div class="basket-item-content">
              <div class="block-basket-content">
                <p class="text-basket-content">название</p>
                <p class="text-basket-content">жанр</p>
                <p class="text-basket-content">автор</p>
              </div>
              <div class="basket-content-button-price">
                <p class="text-basket-price">100 BYN</p>
                <button type="button" class="button-basket-delete"><img src="img/delete.svg" alt=""></button>
              </div>
            </div>
          </div>
        </div>
        <div class="basket-button-price">
          <p class="text-basket">Общая стоимость: 300 BYN</p>
          <a href="#" class="button-basket">
            заказать
          </a>
        </div>
      </div>
    </div>
  </section>
</main>