<main>
  <div class="container">
    <section class="section-search" id="block-content">
      <div class="block-search">
        <input type="text" placeholder="Поиск">
      </div>
      <div class="block-catalog" id="block">
        <p class="text underline">Каталог</p>
        <div class="catalog__buttons">
          <button type="button" class="button__catalog" id="button__catalog">жанры</button>
          <button type="button" class="button__catalog">авторы</button>
          <button type="button" class="button__catalog">издательства</button>
          <button type="button" class="button__catalog">год издания</button>
          <button type="button" class="button__catalog">язык книги</button>
        </div>
        <div class="block-catalog-hidden" id="block-hidden">
          <p>Привет</p>
        </div>
      </div>
    </section>
  </div>
  <section class="section-popular-books">
    <div class="container">
      <div class="pop-books-content">
        <p class="text-pop-books underline">Популярные книги по просмотрам</p>
        <div class="cards-popular-books">
          <div class="card-pop-books">
            <p class="text-pop-card-views">10 просмотров</p>
            <img src="" alt="">
            <p class="text-pop-card">название книги</p>
            <a href="detail_book.html" class="button-more-details">
              подробнее
            </a>
          </div>
          <div class="card-pop-books">
            <p class="text-pop-card-views">10 просмотров</p>
            <img src="" alt="">
            <p class="text-pop-card">название книги</p>
            <a href="detail_book.html" class="button-more-details">
              подробнее
            </a>
          </div>
          <div class="card-pop-books">
            <p class="text-pop-card-views">10 просмотров</p>
            <img src="" alt="">
            <p class="text-pop-card">название книги</p>
            <a href="detail_book.html" class="button-more-details">
              подробнее
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <div class="container">
    <section class="section-list-card">
      <div class="list-card">
        <div class="card">
          <div class="card-img">
            <img src="" alt="">
          </div>
          <div class="card-content">
            <div class="card-content-text">
              <div class="block-text-title">
                <p class="text-card-title">название книги</p>
              </div>
              <p class="text-card-description">
                аывпыврыкрыкраывпыврыкрыкраывпыврыкрыкраывпыврыкрыкраывпыврыкрыкраывпыврыкрыкраывпыврыкрыкраывпыврыкрыкраывпыврыкрыкраывпыврыкрыкраывпыврыкрыкраывпыврыкрыкраывпыврыкрыкраывпыврыкрыкр
              </p>
              <p class="text-card">автор: Пушкин</p>
              <p class="text-card">издательство: название издательства</p>
              <p class="text-card">год издания: 1999</p>
              <p class="text-card">язык книги: Русский</p>
              <p class="text-card">цена: 100 BYN</p>
            </div>
            <div class="card-content-button">
              <a href="#" class="button-card">
                в корзину
              </a>
              <a href="detail_book.html" class="button-card">
                подробнее
              </a>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
  <div class="container">
    <section class="section-pagination">
      <div class="pagination">
        <a href="#"><img src="img/arrow-left.svg" alt=""></a>
        <div class="pagination-page">
          <a href="#">
            <p class="text-pagination active">1</p>
          </a>
          <a href="#">
            <p class="text-pagination">2</p>
          </a>
          <a href="#">
            <p class="text-pagination">3</p>
          </a>
          <a href="#">
            <p class="text-pagination">4</p>
          </a>
          <a href="#">
            <p class="text-pagination">5</p>
          </a>
        </div>
        <a href="#"><img src="img/arrow-right.svg" alt=""></a>
      </div>
    </section>
  </div>
</main>