<main>
  <section class="section-login">
    <div class="container">
      <div class="block-login">
        <p class="text-login-title">Изменение пароля</p>
        <div class="block-input">
          <form action="/profile/change-password" method="POST" class="block-input">
            <div class="block-password">
              <input type="password" placeholder="старый пароль" id="oldPassword" class="input-password"
                name="oldPassword">
              <button type="button" id="toggleOldPassword">👁️</button>
            </div>
            <div class="block-password">
              <input type="password" placeholder="новый пароль" id="oldPassword" class="input-password"
                name="newPassword">
              <button type="button" id="toggleNewPassword">👁️</button>
            </div>
            <div class="block-password">
              <input type="password" placeholder="Повторите пароль" id="againPassword" class="input-password"
                name="againPassword">
              <button type="button" id="toggleAgainPassword">👁️</button>
            </div>
              <input type="submit" class="button-password" value="Сохранить">
          </form>
        </div>
      </div>
    </div>
  </section>
</main>