<main>
  <section class="section-login">
    <div class="container">
      <div class="block-login">
        <p class="text-login-title">Проверка пользователя</p>
        <div class="block-input">
          <form action="/profile/check-user" method="POST" class="block-input">
            <div class="block-check-user">
              <input type="text" placeholder="имя пользователя" class="input-check-user"
                name="checkUser">
            </div>
              <input type="submit" class="button-check-user" value="Отправить">
          </form>
        </div>
      </div>
    </div>
  </section>
</main>