<main>
  <section class="section-contact">
    <div class="container">
      <div class="contact-title">
        <p class="text-contact-title">Контактная информация</p>
      </div>
      <div class="contact-content">
        <ul class="contact-list">
          <li class="contact-item"><img src="img/phone.svg" alt="">+375 (44) 123-23-23</li>
          <li class="contact-item"><img src="img/instagram.svg" alt="">@usernameInstagram</li>
          <li class="contact-item"><img src="img/telegram.svg" alt="">@usernameTelegram</li>
          <li class="contact-item"><img src="img/address.svg" alt="">г. Минск, ул. Улица, д. 20</li>
          <li class="contact-item"><img src="img/mail.svg" alt="">emailAddress@gmail.com</li>
        </ul>
        <p class="text-contact-content">
          *Адрес является юридическим. По номеру телефону можно обращаться с 08:00 до 20:00 ежедневно. В социальные
          сети и на почту можно обращаться круглосуточно.
        </p>
      </div>
    </div>
  </section>
</main>