<main>
  <section class="section-delivery">
    <div class="container">
      <div class="delivery-title">
        <p class="text-delivery-title">Доставка</p>
      </div>
      <div class="delivery-content">
        <p class="delivery-content-text">Все заказы, оформленные в каталоге Booxa, доставляются только до адреса получателя — лично в руки. Мы не используем пункты выдачи или самовывоз: вы выбираете книгу — а мы привозим её прямо к вашей двери.
          
Доставка осуществляется по всей территории Республики Беларусь.
          
Условия доставки:
- Мы доставляем книги исключительно по указанному адресу.
- Получение заказа возможно только лично в руки.
- После оформления вы сможете отслеживать статус заказа в личном кабинете на сайте. Дополнительного звонка от оператора не требуется.
          
Сроки доставки:
- Сроки зависят от удалённости населённого пункта от Минска:
- Минск и ближайшие районы — 1–2 рабочих дня
- Областные центры — 2–3 рабочих дня
- Отдалённые населённые пункты — до 5 рабочих дней
          
Стоимость доставки:
- Окончательная стоимость доставки рассчитывается автоматически и отображается при оформлении заказа в корзине.
- Дополнительные платежи или индивидуальные условия не применяются.
          
Если возникнут вопросы — вы всегда можете обратиться в поддержку через сайт. Мы рады помочь!</p>
      </div>
    </div>
  </section>
</main>