<main>
  <section class="section-login">
    <div class="container">
      <div class="block-login">
        <p class="text-login-title">Вход</p>
        <div class="block-input">
          <form action="/login" method="POST" class="block-input">
            <input type="text" placeholder="логин" class="input-login" name="mail">
            <input type="password" placeholder="пароль" class="input-login" name="password">
            <a href="">
              <p class="text-login right"><span>Забыли пароль?</span></p>
            </a>
            <input type="submit" class="button-login" value="Войти">
          </form>
        </div>
        <!-- <button class="button-login">Войти</button> -->
        <p class="text-login">У вас нет аккаунта? <span><a href="register">Зарегистрируйтесь</a></span></p>
      </div>
    </div>
  </section>
</main>