<main>
  <section class="section-profile">
    <div class="container">
      <div class="profile-title">
        <p class="text-profile-title">Личный кабинет</p>
      </div>

      <div class="block-profile">
        <div class="profile-content">
          <div class="profile-img">
            <img src="" alt="">
          </div>
          <div class="profile-description">
            <p class="text-profile">Фамилия: <%= user.surname %></p>
            <p class="text-profile">Имя: <%= user.name %></p>
            <p class="text-profile">Почта: <%= user.mail %></p>
            <p class="text-profile">Адрес проживания: <%= user.address %></p>
          </div>
        </div>
        <div class="profile-order">
          <div class="profile-order-title">
            <p class="text-profile-order-title">Заказы</p>
          </div>
          <div class="profile-list">
            <div class="profile-item">
              <p class="text-profile-order">дата: 01.01.2020</p>
              <p class="text-profile-order">количество товаров: 2</p>
              <p class="text-profile-order">стоимость: 200 BYN</p>
              <p class="text-profile-order">статус: доставлен</p>
            </div>
            <div class="profile-item">
              <p class="text-profile-order">дата: 01.01.2020</p>
              <p class="text-profile-order">количество товаров: 2</p>
              <p class="text-profile-order">стоимость: 200 BYN</p>
              <p class="text-profile-order">статус: доставлен</p>
            </div>
            <div class="profile-item">
              <p class="text-profile-order">дата: 01.01.2020</p>
              <p class="text-profile-order">количество товаров: 2</p>
              <p class="text-profile-order">стоимость: 200 BYN</p>
              <p class="text-profile-order">статус: доставлен</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>