<main>
  <section class="section-register">
    <div class="container">
      <div class="block-register">
        <p class="text-register-title">Регистрация</p>
        <div class="block-input">
          <input type="text" placeholder="почта" class="input-register">
          <input type="password" placeholder="пароль" class="input-register">
          <input type="password" placeholder="повторить пароль" class="input-register">
        </div>
        <button class="button-register">Зарегистрироваться</button>
        <p class="text-register">Есть аккаунт? <span><a href="login">Войдите</a></span></p>
      </div>
    </div>
  </section>
</main>